apiVersion: 1

datasources:
  - name: Prometheus
    uid: DS_PROMETHEUS
    type: prometheus
    access: proxy
    url: http://localhost:9090
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s

  - name: PostgreSQL
    uid: DS_POSTGRESQL
    type: postgres
    access: proxy
    url: localhost:5432
    user: ${DB_USER}
    editable: true
    jsonData:
      database: ${DB_NAME}
      sslmode: disable
      postgresVersion: 1500
      timescaledb: false
    secureJsonData:
      password: ${DB_PASSWORD}
